body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #5C258D;  
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  
    background: linear-gradient(to right, #4389A2, #5C258D); 
    /* background: #24C6DC;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #514A9D, #24C6DC); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;  
    width: 100vw;
}

main {
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.secao-lista {
    background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 
    /* background-color: #393646; */
    opacity: 0.8;
    border-radius: 5px;
    height: 60%;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}


h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom:30px;
    color: #F2F2F2;
    border-bottom: 4px solid #98D8AA;
    width: 50%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.campo-adicionar {
    outline: none;
    height: 3vh;
    width: 15vw;
    text-align: center;
    font-size: 0.8rem;
    border: 0;
    border: 1px solid #19A7CE;
    border-radius: 4px;
}

.campo-adicionar::placeholder {
    font-size: 1rem;
}

.botao-adicionar {
    height: 3.5vh;
    cursor: pointer;
    background-color: #98D8AA   ;
    border-radius: 4px;
    border: none;
}

/* PARTE ADICIONAR TAREFA */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 46%;
    width: 25vw;
    color: #fff;
    padding: 10px 0;
    margin: 16px 0;
    border: 1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

li:hover {
    background-color: #A4D0A4;
    transition: all 0.8s;
    text-decoration: line-through;
}

li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #F2F2F2;
    width: 20vw;
    color: #000;
    text-transform: uppercase;
    border-left: 6px solid #A4D0A4;
}

.logo-concluir {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.logo-excluir {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}

span {
    font-size: 1rem;
}